.top-nav-link {
    display: block;
    padding: 0.5rem 1.2rem;
    color: #4b4b4b;
    font-size: 15px;
}

.top-nav-link:hover,
.top-nav-link:focus {
    color: #0a0a0a;
    text-decoration: none;
}

.side-link {
    font-size: 16px;
}

.side-link:focus {
    color: #FCDC6A !important;
    background-color: #3d3835 !important;
    transition-duration: 0.5s !important;


}

.side-link:hover {
    color: #FCDC6A !important;
    background-color: rgba(46, 46, 46, 0.1) !important;
    transition-duration: 0.5s !important;

}
